---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blogz";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This'll be blog</p>
  <ul>
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</BaseLayout>
